.browseRecipesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  margin: 20px 0;

  p {
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
  }
}
