.browseRecipesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  margin: 20px 0;

  p {
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
  }
}

.collectionsContainer {
  h1 {
    text-align: center;
    padding-top: 1rem;
  }
}

.userRecipesContainer {
  text-align: center;

  > div {
    display: inline-block;
    padding: 1rem;

    h3 {
      display: inline-block;
      font-size: 2rem;
      vertical-align: middle;
      padding: 0 1rem;
    }

    button {
      vertical-align: middle;
    }
  }
}
