@import "../../styles/variables";

.landingContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  align-items: flex-start;

  @media(max-width: $small-width) {
    grid-template-columns: auto;
  }
}

.infoContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 50px auto;
  width: 80%;
  color: $dark;

  @media(max-width: $small-width){
    grid-row-start: 2;
    grid-row-end: 3;
  }
  img {
    width: 100%;
  }

  .infoBox {
    margin-bottom: 80px;

    svg {
      font-size: 4.5rem;
      margin-right: 20px;
      float: left;
    }
  }

  .infoBlock {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
}

.signupContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 50px auto;

  @media(max-width: $small-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  input {
    margin: 15px 0;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
  }

  button {
    background-color: $dark;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;

    &:hover {
      background-color: $other;
    }
  }
}
