@import "../../../../styles/variables";

.button {
  outline: 0;
  border: none;
  transition: background-color .25s ease, color .25s ease;
  cursor: pointer;

  &Disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.stockButtonsBar {
  padding: 0 10px;
  height: 30px;
  font-size: 1rem;
}

.removeButton {
  composes: stockButtonsBar;
  background-color: $other;
  color: white;
}

.deleteButton {
  composes: stockButtonsBar;
  background-color: $primary-color;
  color: white;

  &Disabled {
    pointer-events: none;
    opacity: .5;
    cursor: default;
  }
}

.addButton {
  composes: stockButtonsBar;
  background-color: $otherdark;
  color: white;

  &Disabled {
    pointer-events: none;
    opacity: .5;
    cursor: default;
  }
}

.collectionDialog {
  > div {
    position: absolute;
    top: -5px;
    background-color: $light;
    left: 30px;
    z-index: 2;
    font-size: 1.5rem;
    width: 200px;
    border-radius: 10px;
    color: $dark;

    button {
      font-size: 1.2rem;
      width: 100%;
      padding: 5px;
      margin: 0 !important;

      &:hover {
        background-color: $other;
        color: $light;
      }
    }

    input {
      padding: 5px;
      font-size: 1.2rem;
      width: 180px;
      border-radius: 5px;
      margin: 5px;
    }
  }
}

.inCloudButton {
  composes: stockButtonsBar;
  background-color: $other;
  color: white;

  &Disabled {
    pointer-events: none;
    opacity: .5;
    cursor: default;
  }
}

.addToGroceryListButton {
  composes: stockButtonsBar;
  background-color: $secondary-color;
  color: white;

  &Disabled {
    pointer-events: none;
    opacity: .5;
    cursor: default;
  }
}
