// new theme
$green: #45CD44;
$black: #292929;
$lightgray: #f8f8f8;

$red: #E94F37;
$altgreen: #248232;

$gray: #757575;

$white: #FBFBFF;
$other: #01BAEF;
$otherdark: #0B4F6C;
$light: $white;
$dark: #0B4F6C;
$small-width: 860px;

$box-shadow: rgba(9, 30, 66, 0.31) 0px 0px 1px, rgba(9, 30, 66, 0.25) 0px 20px 32px -8px;
