// new theme
$green: #45CD44;
$purple: #3045DB;
$blue: #40E3DF;
$yellow: #E3D940;
$orange: #DB8B16;
$black: #292929;
$lightgray: #f8f8f8;

$other: $blue;
$otherdark: $purple;
$light: white;
$dark: $purple;
$primary-color: $orange;
$secondary-color: $green;
$small-width: 860px;
$orange: $orange;



