$other: #2DA2B5;
$otherdark: #164E57;
$light: #D8ECF5;
$dark: #1A2D42;
$primary-color: #A6373D;
$secondary-color: #4FA653;
$small-width: 860px;
$orange: #DA6344;



// new theme
$green: #45CD44;
$brown: #D4CDC3;
