@import "../../../styles/variables";

.navContainer {
  background-color: $other;
  color: white;
  height: 50px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;

  h1 {
    display: inline;
    margin-left: 1.5rem;

    a {
      color: white;
      text-decoration: none;
      line-height: 50px;
    }

    span {
      font-size: 2rem;
    }
  }

  a, button {
    margin-right: 10px;
    background-color: inherit;
  }

  ul {
    list-style: none;
    display: inline-block;
    float: right;
    margin: 0;
    line-height: 50px;

    li {
      float: left;

      input, button {
        margin-right: 10px;
        padding: 5px;
        height: 30px;
      }

      button {
        line-height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        border-radius: 10px;
      }
    }
  }

  .headerLink {
    color: $otherdark;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
  }
}

.userLink, .logout {
  a, button, span {
    color: white;
    font-size: 1.2rem;
  }
}
