@import "../../../styles/variables";

.navContainer {
  background-color: $other;
  color: white;
  min-height: 50px;
  height: 50px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 3;

  @media(max-width: 770px) {
    overflow: visible;
  }

  h1 {
    display: inline;
    margin-left: 1.5rem;
    font-size: 2.5rem;

    a {
      text-decoration: none;
      line-height: 50px;
      color: $otherdark;

      svg {
        font-size: 2rem;
        color: white;
        width: 45px;
        vertical-align: middle;
      }
    }
  }

  .linksContainer { // container of everything that's not the navigation links
    display: none;
    position: absolute;
    line-height: 50px;
    top: 0;
    right: 2rem;
    margin-left: 1.5rem;

    &Visible {
      display: inline-block;
    }

    @media(min-width: 770px) {
      display: inline-block;
    }

    @media(max-width: 770px) {
      position: absolute;
      line-height: 50px;
      top: 50px;
      right: 0;
      background-color: #2DA2B5;
      width: calc(100% - 1rem);
      padding: .5rem;
    }

    form {
      display: inline-block;
    }

    svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      color: $otherdark;
    }

    input {
      padding: 5px 10px;
      font-size: 1rem;
      border-radius: 5px;
      margin-right: 5px;
      color: $dark;
      background-color: $light;
    }

    button { // login/logout only
      background-color: $otherdark;
      color: white;
      padding: 5px 10px;
      font-size: 1rem;
      border-radius: 5px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    a { // user settings, forgot password, register
      color: white !important;
      font-size: 1rem;

      &:last-of-type {
        svg {
          color: white;
        }
      }
    }

    a, button {
      margin-right: 10px;
    }

    input, button {
      margin-right: 10px;
      padding: 5px;
      height: 30px;
    }

    button {
      line-height: 30px;
      padding: 0 10px;
      vertical-align: middle;
      border-radius: 10px;
    }
  }

  .headerLink {
    color: $otherdark;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
  }
}

.userLink, .logout {
  a, button, span {
    color: white;
    font-size: 1.2rem;
  }
}

.install {
  display: none;
  background-color: #DA6344 !important;

  @media all and (display-mode: standalone) {
    display: none;
  }
}

.mobileHam {
  position: absolute;
  display: none;
  right: 10px;
  top: 2px;
  font-size: 2rem;
  padding: 0;
  width: 30px;

  svg {
    vertical-align: middle;
  }

  @media(max-width: 770px) {
    display: inline;
  }
}
