@import "../../../styles/variables";

.navContainer {
  background-color: $white;
  color: $white;
  min-height: 60px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 3;
  vertical-align: middle;

  img {
    height: 60px;
  }

  .backButton {
    width: 40px;
    height: 50px;
    vertical-align: top;
    display: none;

    svg {
      height: 40px;
    }

    @media all and (display-mode: standalone) {
      display: inline-block;
    }
  }

  @media(max-width: 770px) {
    overflow: visible;
  }

  h1 {
    display: inline;
    margin-left: 0.5rem;
    font-size: 2.5rem;
    cursor: pointer;

    a {
      text-decoration: none;
      line-height: 50px;
      color: $otherdark;

      svg {
        font-size: 2rem;
        color: $white;
        width: 45px;
        vertical-align: middle;
      }
    }
  }

  .linksContainer { // container of everything that's not the navigation links
    position: absolute;
    top: 60px;
    right: 0;
    margin-left: 1.5rem;

    ul {
      list-style: none;
      background-color: $white;
      width: 200px;
      border-top: 1px solid darken($lightgray, 10%);
    }

    li {
      height: 40px;
      padding: .25rem .75rem;
      vertical-align: middle;
      line-height: 40px;
      border-bottom: 1px solid darken($lightgray, 10%);

      &:hover {
        background-color: $lightgray;
      }

      &:last-of-type {
        border-bottom: none;
      }

      button, a {
        height: 100%;
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
      }

      a, button, svg {
        color: $black;
        font-weight: 500;
        display: inline-block;
        cursor: pointer;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: .25rem;
      vertical-align: middle;
      color: $black;
    }
  }
}

.userLink {
  display: inline-block;
  float: right;
  font-size: 2.5rem;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;

  > * {
    display: inline-block;
    vertical-align: middle;
  }
  svg {
    width: 30px;

    &:last-of-type {
      width: 15px;
      margin-left: 5px;
    }
  }

  img {
    height: 35px;
  }
}

.loginButton {
  float: right;
  background-color: $green;
  color: $white;
  border-radius: 10px;
  font-size: 1.8rem;
  vertical-align: middle;
  cursor: pointer;
  margin: 5px;
  padding: .5rem 1rem;
}
