@import "../styles/_variables.scss";

body {
  font-size: 12px;
  background-color: $white;
  color: $black;
  font-family: 'Markazi Text', serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
a {
  text-decoration: none;
}
button {
  background-color: inherit;
  outline: 0;
  border: none;
  cursor: pointer;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}
input, select {
  outline: 0;
  border: 0;
}
blockquote {
  border-left: 3px solid lightgray;
  padding-left: 20px;
  font-style: italic;
}
