@import "../../client/styles/variables";

.recipeForm {
  margin: 1rem auto;
  width: 600px;
  max-width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid $dark;
}

.submitButton {
  display: block;
  background-color: $other;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 10px 0;

  &Disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
  }
}

.saveList {
  background-color: $dark;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1rem;
  border-radius: 5px;

  &:hover {
    background-color: $other;
  }

  &Disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
  }
}
