@import "../../client/styles/variables";

.groceryListContainer {
  border-radius: 10px;
  padding: 20px 2%;
  width: 80%;
  margin: 50px auto;
  background-color: $white;

  > button {
    background-color: $green;
    color: $white;
    padding: .5rem 1rem;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
    border-radius: 5px;

    &:hover {
      background-color: $other;
    }
  }

  > h2 {
    font-size: 2.5rem;

    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }

}

.ingredientsContainer {
  input, select {
    font-size: 1.1rem;
  }
}

.menuContainer {
  margin-top: 1rem;

  svg {
    width: 1rem;
    vertical-align: sub;
  }

  li {
    font-size: 1rem;
    margin: 2px 0;
    vertical-align: middle;
    list-style: none;

    span, a {
      vertical-align: middle;
    }

    span {
      margin-right: 1rem;
    }

    button:first-of-type {
      border-radius: 5px;
      margin-right: 10px;
    }

    button:last-of-type, label {
      font-size: 1.2rem;
      cursor: pointer;
    }

    input {
      font-size: 1.4rem;
      font-family: inherit;
      background-color: inherit;
    }

    a {
      font-size: 1.4rem;
      color: inherit;

      svg {
        margin-left: 5px;
        font-size: 1rem;
        width: 20px;
      }
    }
  }
}

.saveListButton {
  display: inline-block;

  &Disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
  }
}

.addStaplesContainer {
  button {
    font-size: 1rem;
    color: $black;
  }
}