@import "../../client/styles/variables";

.recipeContainer {

}

.recipeEditButtons {
  text-align: center;
  margin-top: 20px;
  position: relative;

  svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  > div {
    display: inline-block;
    position: relative;
  }

  button {
    border-radius: 5px;
    margin-left: 10px;
    vertical-align: middle;
  }

  .toggleEdit {
    background-color: $dark;
    color: white;
    padding: 5px 10px;
    font-size: 1.2rem;

    &:hover {
      background-color: $other;
    }
  }
}
