@import "../../../styles/variables";

.container {
  transition: transform .25s ease;
  position: fixed;
  top: -122px;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-size: 1.2rem;
  height: 122px;

  div {
    background-color: $green;
    color: $white;
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
    padding: .5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  button:first-of-type {
    text-decoration: underline;
    color: white;
    font-size: 1.2rem;
    &:hover {
      color: $black;
    }
  }

  button:last-of-type {
    display: block;
    border: 1px solid $black;
    padding: .25rem;
    font-size: 1.2rem;
    margin: .25rem auto 0;

    &:hover {
      color: $white;
      background-color: $black;
    }
  }
}

.transitionEnter {
  transform: translateY(122px);
}
.transitionEnterActive {
  transform: translateY(122px);
}
.transitionEnterDone {
  transform: translateY(122px);
}
.transitionExit {
  transform: translateY(0);
}
.transitionExitActive {
  transform: translateY(0);
}
.transitionExitDone {
  transform: translateY(0);
}
