@import "../../../styles/variables";

.controlBar {
  user-select: none;
}

.styleButton {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 0 4px;
  background-color: $lightgray;
  transition: all .25s ease;

  &:hover {
    background-color: $green;

    svg {
      color: $white;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    color: $green;
  }

  &Active {
    background-color: $green;
    svg {
      color: $white;
    }
  }
}

.editor {
  font-size: 1.5rem;
  background-color: lighten($green, 40%);
  padding: 1rem;
  cursor: text;

  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  blockquote {
    border-left: 3px solid lightgray;
    padding-left: 20px;
    font-style: italic;
  }
}
