@import "../../../styles/variables";

.container {
  background-color: $white;
  width: 400px;
  max-width: 90%;
  font-size: 2rem;
  border-radius: 20px;
  text-align: center;
  margin: 50px auto;
  padding: 40px 20px;
  color: $otherdark;
}
