@import "../../../styles/variables";

.ingredientsContainer {
  h3 {
    display: inline-block;
  }

  .addIngredientButton {
    color: $dark;
    cursor: pointer;
    padding: 10px;

    &:hover {
      color: $other;
    }
  }
}
