@import "../../../styles/variables";

.tagsContainer {
  text-align: center;
  position: sticky;
  top: 50px;
  z-index: 3;

  button {
    color: white;
    background-color: $otherdark;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin: 3px;

    &:hover {
      background-color: lighten($otherdark, 10%);
    }
  }
}
