@import "../../styles/variables";

.collectionCard {
  flex: 25%;
  flex-grow: 1;
  text-align: center;
  position: relative;
  align-self: flex-start;

  @media(max-width: 650px) {
    flex: 45%;
  }

  @media(max-width: 500px) {
    flex: 100%;
  }

  h3 {
    font-size: 2rem;
  }

  button {
    display: none;
    position: absolute;
    top: 13px;
    left: 15px;
    width: 40px;
    height: 40px;
  }

  &:hover {
    button {
      display: block;
    }
  }
}
