@import "../../styles/variables";

.recipeCard {
  color: $dark;
  flex: 25%;
  flex-grow: 1;
  padding: 0 2px;
  position: relative;
  text-align: center;
  transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;
  align-self: flex-start;

  @media(max-width: 650px) {
    flex: 45%;
  }

  @media(max-width: 500px) {
    flex: 100%;
  }

  a {
    text-decoration: none;
    cursor: pointer;

    > div:first-of-type {
      padding: 5px 10px;
    }
  }

  .userImage {
    position: absolute;
    top: 13px;
    right: 15px;
    z-index: 1;
    display: inline;
    opacity: 1;

    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    svg {
      color: white;
      background-color: lightgray;
      font-size: 1.8rem;
      padding: 10px;
      border-radius: 100%;
    }
  }

  .recipeCardText {
    color: $primary-color;
    text-decoration: none;
  }

  .recipeCardButtons {
    opacity: 1;
    display: inline;
    position: absolute;
    top: 13px;
    left: 15px;
    z-index: 1;

    &:hover {
      .recipeCard {
        pointer-events: none;
      }
    }


    > button, > div > button {
      width: 40px;
      height: 40px;
      margin-bottom: 2px;
      display: block;
      border-radius: 0;
      margin-left: 3px;
    }
  }

  a {
    text-decoration: none;
  }

  @media(max-width: 1200px) {
    flex-grow: 1;
  }

  &Opacity {
    opacity: 0;
  }

  .recipeCardImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  &Text {
    text-align: center;
    color: $otherdark;

    &:hover {
      color: $primary-color;
    }
  }

  &Buttons {
    display: none;
    transition: opacity .25s ease;
    opacity: 0;
  }

  .userImage {
    display: none;
    transition: opacity .25s ease;
    opacity: 0;
  }
}
