@import "../../../styles/variables";

.ingredientRow {
  margin: 2px 0;
  min-height: 35px;
  list-style: none;
  display: table;
  width: 100%;

  label {
    margin-right: 10px;
  }


  &Editing {
    div {
      cursor: default;
    }
  }

  div {
    cursor: pointer;
    display: inline-block;
    width: 90%;

    > * {
      display: table-cell;
    }

    > input, > select, > button, > span {
      margin: 0 1px;
      height: 100%
    }

    > input, > select, > span {
      background-color: inherit;
      font-size: 1.2rem;
      padding: .5rem;
    }

    span {
      font-size: 1.4rem;
    }

    > input:first-of-type, select, > span:first-of-type, > span:nth-of-type(2) {
      width: 10%;
      min-width: 50px;
    }

    > select {
      min-width: 70px;
    }

    > input:nth-of-type(2), > span:nth-of-type(3) {
      width: 60%;
    }

    > button {
      border-radius: 10px;
      height: 35px;
      float: right;
      width: 40px;
    }
  }

  &:nth-of-type(even) {
    background-color: lighten($green, 40%);
  }

  p {
    display: inline-block;
    font-size: 1.4rem;
  }
}
