@import "../../../styles/variables";

.tagsContainer {
  text-align: center;
  margin: 10px auto;
  width: 90%;

  .tag {
    color: white;
    background-color: $otherdark;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin: 3px;

    &:hover {
      background-color: lighten($otherdark, 10%);
    }

    &Selected {
      background-color: $other;

      &:hover {
        background-color: $other;
      }
    }
  }

  .searchContainer {
    font-size: 1.5rem;
    margin-top: 10px;
    background-color: white;
    width: 360px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    max-width: 95%;

    svg {
      margin-right: 10px;
      width: 20px;
      vertical-align: middle;
    }

    input {
      vertical-align: middle;
      padding: 5px;
      border-radius: 5px;
      font-size: 1.2rem;
      color: $dark;
      width: 80%;
    }
  }

  select {
    margin: 10px 10px 0;
    background-color: white;
    font-size: 1.2rem;
    border: 8.5px solid white;
    color: $dark;
  }

  .orderButton {
    font-size: 1.2rem;
    background-color: $otherdark;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    margin: 10px 0 0;

    svg {
      width: 20px;
    }

    &Highlight {
      background-color: $other;
    }
  }
}
