@import "../../../styles/variables";

.tagsContainer {
  text-align: center;
  margin: 10px auto;
  width: 650px;
  max-width: calc(100vw - 300px);
  position: sticky;
  top: -10px;
  z-index: 4;

  @media(max-width: 1090px) {
    margin: 0;
  }

  @media(max-width: 650px) {
    position: relative;
    max-width: 100%;
    z-index: 1;
  }

  .searchContainer {
    font-size: 1.5rem;
    margin-top: 10px;
    background-color: $white;
    display: inline-block;
    padding: 5px 0;
    border-radius: 10px;
    vertical-align: middle;

    width: 650px;
    max-width: 100%;

    @media(max-width: 1090px) {
      margin: 10px 0 0 205px;
    }

    @media(max-width: 650px) {
      margin: 20px 0 10px;
    }

    svg {
      width: calc(20% - 1rem);
      max-width: 20px;
      vertical-align: middle;
      height: 50px;
      background-color: $green;
      padding: 0 .5rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      color: $white;
    }

    input {
      vertical-align: middle;
      padding: .5rem .5rem .5rem 1rem;
      font-size: 1.2rem;
      color: $dark;
      width: calc(80% - 1.5rem);
      height: calc(46px - 1rem);
      border: 2px solid $green;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  select {
    margin: 10px 10px 0;
    background-color: $white;
    font-size: 1.2rem;
    border: 2px solid $green;
    height: calc(3rem + 4px);
    color: $black;
    padding: .5rem;
    vertical-align: middle;
    border-radius: 10px;
  }

  .orderButton {
    font-size: 1.2rem;
    background-color: $green;
    color: $white;
    padding: 10px 12px;
    border-radius: 10px;
    margin: 10px 0 0;
    height: calc(3rem + 4px);
    width: calc(3rem + 4px);
    vertical-align: middle;

    svg {
      width: 20px;
    }

    &Highlight {
      background-color: $other;
    }
  }
}
