$other: #2DA2B5;
$otherdark: #164E57;
$light: #D8ECF5;
$dark: #1A2D42;
$primary-color: #A6373D;
$secondary-color: #4FA653;
$small-width: 860px;

.landing-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  align-items: flex-start;

  @media(max-width: $small-width) {
    grid-template-columns: auto;
  }
}

.info-container {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 50px auto;
  width: 80%;
  color: $dark;

  @media(max-width: $small-width){
    grid-row-start: 2;
    grid-row-end: 3;
  }
  img {
    width: 100%;
  }

  .info-icon {
    font-size: 4.5rem;
    margin-right: 20px;
    float: left;
  }

  .info-box {
    margin-bottom: 80px;
  }

  .info-block {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
}

.signup-container {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 50px auto;

  @media(max-width: $small-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  input {
    margin: 15px 0;
  }
}

.container {
  width: 80%;
}

.author-text {
  font-weight: 500;
  padding: 0;
  margin-bottom: 15px;
  color: $primary-color;
}
.author-text:hover {
  color: $otherdark;
  text-decoration: none;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;

  .recipe-card-disabled {
    opacity: 0;
  }

  .recipe-card {
    flex: 30%;
    flex-grow: 0;
    margin: 15px;
    padding: 10px;
    border: 2px solid $otherdark;
    border-radius: 5px;
    background-color: white;
    position: relative;
    text-align: center;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;

    @media(max-width: 1200px) {
      flex-grow: 1;
    }

    .recipe-card-image {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .recipe-card-text {
      text-align: center;
      color: $otherdark;
    }
    .recipe-card-text:hover {
      color: $primary-color;
    }
    .author-text {
      margin-bottom: 15px;
    }
    .recipe-card-buttons {
      position: absolute;
      right: 0;
      bottom: 0;

      button {
        border-radius: 0;
      }
    }
  }
}
