.ingredientRow {
  margin: 2px 0;
  min-height: 35px;
  list-style: none;

  > input, > select, > button {
    display: inline-block;
    margin: 0 1px;
    height: 100%;
  }

  > input, > select {
    background-color: inherit;
    font-size: 1.1rem;
  }

  > input:first-of-type, select {
    width: 20%;
    min-width: 50px;
  }

  > input:nth-of-type(2) {
    width: auto;
    max-width: 50%;
    min-width: 100px;
  }

  > button {
    border-radius: 10px;
    height: 35px;
  }

  &:nth-of-type(even) {
    background-color: rgba(0,0,0,.02);
  }

  p {
    display: inline-block;
  }
}
