@import "../../../styles/variables";

.staple {
  display: inline-block;
  background-color: $green;
  border-radius: 10px;
  color: $white;
  padding: .5rem .5rem .5rem 1rem;
  font-size: 1.5rem;
  margin: 5px;

  button {
    background-color: $white;
    color: $green;
    margin-left: .5rem;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    height: 30px;

    svg {
      width: 20px;
      height: 20px;
      padding: 5px;
    }
  }
}
