@import "../../../styles/variables";

.container {
  display: inline-block;
  text-align: center;

  img {
    border-radius: 100%;
    object-fit: cover;
  }

  svg {
    color: $white;
    background-color: lightgray;
    font-size: 1.8rem;
    border-radius: 100%;
  }
}
