@import "../../../styles/variables";

.navContainer {
  background-color: $other;
  color: white;
  min-height: 50px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;

  > div { // container of everything that's not the navigation links
    position: absolute;
    line-height: 50px;
    top: 0;
    right: 2rem;
    margin-left: 1.5rem;

    @media(max-width: 770px) {
      position: static;
    }

    input {
      padding: 5px 10px;
      font-size: 1rem;
      border-radius: 5px;
      margin-right: 5px;
      color: $dark;
      background-color: $light;
    }

    button { // login/logout only
      background-color: $otherdark;
      color: white;
      padding: 5px 10px;
      font-size: 1rem;
      border-radius: 5px;
    }

    a { // user settings, forgot password, register
      color: white;
      font-size: 1rem;
    }
  }

  h1 {
    display: inline;
    margin-left: 1.5rem;

    a {
      text-decoration: none;
      line-height: 50px;
      color: $otherdark;
    }

    svg {
      font-size: 2rem;
      color: white;
    }
  }

  a, button {
    margin-right: 10px;
    background-color: inherit;
  }

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    padding-right: 10px;

    li {
      float: left;

      input, button {
        margin-right: 10px;
        padding: 5px;
        height: 30px;
      }

      button {
        line-height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        border-radius: 10px;
      }
    }
  }

  .headerLink {
    color: $otherdark;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
  }
}

.userLink, .logout {
  a, button, span {
    color: white;
    font-size: 1.2rem;
  }
}

.linksContainer {
  display: none;

  &Visible {
    display: inline-block;
  }

  @media(min-width: 770px) {
    display: inline-block;
  }
}

.mobileHam {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  font-size: 2rem;
  line-height: 50px;

  @media(max-width: 770px) {
    display: inline;
  }
}
