@import "../../../styles/variables";

.container {
  text-align: center;
  font-size: 1.2rem;

  input {
    font-size: 1.2rem;
    padding: .5rem;
    border: 2px solid $green;
    background-color: lighten($green, 45%);
    border-radius: 10px;
    outline: none;
    width: 250px;
    max-width: 90%;
    margin: 10px;
  }

  button, a {
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
  }

  form {
    button {
      background-color: $green;
      color: $white;
      padding: .5rem 1rem;
      width: calc(254px + 1rem);
      max-width: 90%;
      margin: 10px 0;
      font-size: 1.5rem;
      border-radius: 10px;
    }
  }
}
