@import "../../../styles/variables";

.container {
  > div {
    text-align: center;
    font-size: 1.2rem;

    input {
      font-size: 1.2rem;
      padding: .5rem;
      border: 2px solid $green;
      background-color: lighten($green, 45%);
      border-radius: 10px;
      outline: none;
      width: 250px;
      max-width: 90%;
      margin: 10px;
    }

    small {
      display: block;
      margin-top: -8px;
    }

    button, a {
      cursor: pointer;
      font-size: 1rem;
      margin: 10px;
    }

    form {
      button {
        transition: all .5s ease;
        background-color: $green;
        color: $white;
        padding: .5rem 1rem;
        width: calc(254px + 1rem);
        max-width: 90%;
        margin: 10px auto;
        font-size: 1.5rem;
        border-radius: 10px;

        &:disabled {
          opacity: .5;
          cursor: default;
        }
      }
    }
  }
}

.googleWrapper {
  display: block;
  width: 270px;
  max-width: 95%;
  margin: 15px auto !important;
  box-shadow: 2px 2px 4px rgba($black, .3), -1px 0 2px rgba($black, .3);
  padding: 16px 0;

  .googleIcon {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
  }

  .googleContents {
    vertical-align: middle;
    font-size: 1.6rem;
    color: lighten($black, 20%);
    padding-left: 8px;
  }
}

.registerButton {
  display: block;

  &Disabled {
    opacity: .5;
    pointer-events: none;
  }
}
